.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  height: 100%;
  background-color: #222222;
  min-height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  font-size: calc(8px + 1vmin);
  color: white;
}

.Image {
  margin-right: 10px;
  height: 35px;
  user-select: none;
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table td {
  padding: 10px;
  text-align: left;
  border: 2px solid white;
}

.Table th {
  padding: 8px;
  background-color: #ff462d;
  border: 2.5px solid #ff462d;
}
